.game {
  display: flex;
  height: 33%;
}

.game > div {
  height: 100%;
  flex: 1;
}

.game p {
  text-align: center;
  margin-top: 20%;
}

#map {
  flex: 2;
  background: #B5D0D0;
}

#controls {
  flex: 1;
  padding-left: 1em;
  background: #E1E6E2;
}
